/*
    Progetto Web Development Learnn
    Roberto Vanzetta
*/


/* inizializzazione */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* impostazioni iniziali dei tag */
body {
    background-color: black;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
}

h1, h2, h3 {
    margin-bottom: 48px;    /*aggiunge spazio fra gli hedings*/
}

h1 {
    font-size: 96px;
    font-weight: 600;
    line-height: 113px;     /* interlinea */
}

h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px; 
    text-transform: uppercase;
}

h3 {                         /* solitamente ci fermiamo ad h3 */ 
    font-size: 48px;        /* se servono altri li aggiungiamo in seguito */
    font-weight: normal;
    line-height: 56px;
} 

@media screen and (max-width: 576px) {      /*per rendere il sito responsive*/
    h1 {
        font-size: 48px;
        line-height: 56px;
    }
    h2 {
        font-size: 32px;
        line-height: 42px;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
}

a {                          /* impostazioni link */            
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: white;
    text-decoration: none;  /* rimuove la sottolineatura */
    text-transform: uppercase; /* link maiuscoli */
}

/* definisco il colore dei link (a) per l'hover */
a:hover {
    color: #beda10;
}

.logo:hover {       /*rimuovo hover da logo*/
    color: white;
}

p {
    font-size: 24px;
    margin-bottom: 16px;
}

.button {
    background-color: #8279bb;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px;         /* il primo valore si riferisce a top e bottom, il secondo a left e right */
    border: none;
    border-radius: 37px;
}

.input-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.input-label span {
    font-size: 18px;
    font-weight: 400;
}

.input-field,
.input-textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #0e0062;
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.input-textarea {
    height: 100px;
}

/* definisco lo stile par l'hover sul button */
.button:hover {
    background-color: #beda10;
    color: #070514;
}

/* A QUESTO PUNTO HO UN DESIGN INIZIALE SUL QUALE POI AGGIUNGERE GLI ELEMENTI DEL SITO */

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;      /*è la larghezza max del container su schermi molto grandi*/
}

section {                   /*serve per avere spazio fra le section*/
    padding-top: 64px;
    padding-bottom: 64px;
}


/* Hero section */
.hero {
    height: 100vh;
    background: linear-gradient(0deg, rgba(7,5,20,1) 0%, rgba(16,26,98,1) 30%);
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-cta {
    align-self: flex-end;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(7,5,20,1) 0%, rgba(16,26,98,0.0) 100%);
    z-index: 5;     /*per non sovrapporre i menu*/
}

.header-container {
    display: flex;      /* di default ha allineamento orizzontale */
    flex-wrap: wrap;    /*se finisce lo spazio va a capo*/
}

.logo {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
    margin-right: 64px;
}

.menu ul {
    list-style-type: none;      /* toglie i punti della lista del menu */
    display: flex;      /* di default ha allineamento orizzontale */
}

.menu ul li {
    margin-right: 24px;
}

.menu ul li a {
    font-size: 24px;
}

.works-menu {
    position: sticky;   /*blocco il menu in alto*/
    top: -15px;         /*definisco dove bloccarlo*/
}

.works-menu ul {
    list-style-type: none;
    display: flex;
}

.works-menu ul li {
    margin-right: 24px;
}

@media screen and (max-width: 768px) {  /*elimina il work menu su mobile*/
    .works-menu {
        display: none;
    }  
}

.works {}

.works-item {
    margin-bottom: 96px;
}

.works-item-tags{
    font-size: 24px;
    color: #beda10;
}

.work-info {
    display: flex;   /*per avere gli elementi sulla stessa riga*/
    flex-wrap: wrap;    /*correzione per mobile*/
}

.work-info-label {
    width: 200px;
    flex-grow: 0;   /*non può crescere*/
    flex-shrink: 1; /*può diminuire*/
    font-weight: 600;   
    text-transform: uppercase;
}

.work-info-content {
    width: 70%;
    flex-grow: 1;   /*può crescere*/
    flex-shrink: 1; /*può diminuire*/
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img {
    margin-bottom: 36px;
    max-width: 80%;
    max-height: 500px;
}

.image-right {              /*creo delle utilities*/
    align-self: flex-end;
}

.image-left {
    align-self: flex-start;
}

.contacts {}

.contacts-content {
    display: flex;
    justify-content: space-between; /*aggiuge spazio fra gli elementi del div*/
}

.contacts-about, 
.contacts-form {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .contacts-content {
        flex-direction: column;
    }
    .contacts-about,
    .contacts-form {
        width: 100%;
    }    
}

.footer {
    background: linear-gradient(180deg, rgba(7,5,20,1) 0%, rgba(16,26,98,1) 50%);
    padding-top: 24px;
    padding-bottom: 24px;
}

.copyright {
    color: #757575;
}

.anchors {      /*cambio la posizione delle ancore*/
    visibility: hidden;
    position: relative;
    top: -110px;
}

.back-to-top {
    background-image: url('images/115.jpg');
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
}